* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-gray);
}

:root {
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --dark-gray: rgb(59, 68, 75);
    --soft-gray: #fdfdfd;
    --rounded: 0.25rem;

    /* pokemon nature type color  */
    --nature-bug: #a8b820;
    --nature-dark: #705848;
    --nature-dragon: #7038f8;
    --nature-electric: #f8d030;
    --nature-fairy: #ee99ac;
    --nature-fighting: #c03028;
    --nature-fire: #f08030;
    --nature-flying: #a890f0;
    --nature-ghost: #705898;
    --nature-grass: #78c850;
    --nature-ground: #e0c068;
    --nature-ice: #98d8d8;
    --nature-normal: #a8a878;
    --nature-poison: #a040a0;
    --nature-psychic: #f85888;
    --nature-rock: #b8a038;
    --nature-shadow: #3d3d3d;
    --nature-steel: #b8b8d0;
    --nature-unknown: #68a090;
    --nature-water: #6890f0;

    --nature-bug-light: #c6d16e;
    --nature-dark-light: #a29288;
    --nature-dragon-light: #a27dfa;
    --nature-electric-light: #fae078;
    --nature-fairy-light: #f4bdc9;
    --nature-fighting-light: #d67873;
    --nature-fire-light: #f5ac78;
    --nature-flying-light: #c6b7f5;
    --nature-ghost-light: #a292bc;
    --nature-grass-light: #a7db8d;
    --nature-ground-light: #ebd69d;
    --nature-ice-light: #bce6e6;
    --nature-normal-light: #c6c6a7;
    --nature-poison-light: #c183c1;
    --nature-psychic-light: #fa92b2;
    --nature-rock-light: #d1c17d;
    --nature-shadow-light: #585858;
    --nature-steel-light: #d1d1e0;
    --nature-unknown-light: #9dc1b7;
    --nature-water-light: #9db7f5;
}
body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;

    background-color: var(--soft-gray);
}

a {
    text-decoration: none;
}
